@model IEnumerable<adminsys.Models.TBLUserInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdUs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsernameUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordUS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdUs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsernameUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordUS)
        </td>
        
    </tr>
}

</table>
